@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.top{
    
    background-color:#94B49F;
    font-family: 'Righteous', cursive;

}
.navbar{
    display:flex;
    background-color: #FCF8E8;
}

.logo{
    float: left;
    margin: 2% 2% 2% 2%;
    width:15%;
    height:15%;
}


